<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ganhe mais XP!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list *ngIf="!chapters.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-label>
        <h1>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </h1>
      </ion-label>
    </ion-item>
  </ion-list>

    <ion-list>
      <ion-item-sliding *ngFor="let chapter of chapters">
        <ion-item button [routerLink]="['/content', chapter.id]">
          <ion-label class="verdana">
            {{ chapter.name }}
          </ion-label>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteChapter(chapter.id)">
            <ion-icon slot="top" name="trash"></ion-icon>
            Excluir
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button routerLink="/content" expand="block">
            Adicionar capitulo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>