.default-img{
    height:50%;
    width:50%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.margin-top-bottom{
  margin-top: 32px;
  margin-bottom: 32px;
}